// File: _reset.scss
// Author: Tomasz Dudkowski
// 2022

@use "../abstracts/variables/container_dimensions" as *;

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    height: $height-100;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: $max-width-100;
  }

  input, button, textarea, select {
    font: inherit;
  }