// File: _reset.scss
// Author: Tomasz Dudkowski
// 2022

@use "../abstracts/variables/container_dimensions";

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

  html, body {
    height: container_dimensions.$height-100;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: container_dimensions.$max-width-100;
  }

  input, button, textarea, select {
    font: inherit;
  }