// // File: _typography.scss
// Author: Tomasz Dudkowski
// 2022

@use "../abstracts/variables/color" as *;
@use "../abstracts/variables/font_family" as *;
@use "../abstracts/variables/font_size" as *;
@use "../abstracts/variables/font_padding" as *;
@use "../abstracts/variables/font_weight" as *;

// Google Fonts imports
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");

// Typographic tweaks!
* {
  -webkit-font-smoothing: antialiased;
  //hyphens: auto; 
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

// colors class
// only for basic text without color

.light-color {
  color: $text-light-color;
}

.dark-color {
  color: $text-dark-color;
}

.title-light-color {
  color: $title-light-color;
}

.title-dark-color {
    color: $title-dark-color;
}

// headers tags

%h {
  font-family: $h-font-family;
}

h1 {
  @extend %h;
  font-size: $h1-font-size;
  padding-top: $h1-padding-top;
  padding-bottom: $h1-padding-bottom;
  padding-left: $h-padding-left;
  padding-right: $h-padding-right;
}

h2 {
  @extend %h;
  font-size: $h2-font-size;
  padding-top: $h2-padding-top;
  padding-bottom: $h2-padding-bottom;
  padding-left: $h-padding-left;
  padding-right: $h-padding-right;
  font-weight: $bold-weight;
}

h3 {
  @extend %h;
  font-size: $h3-font-size;
  padding-top: $h3-padding-top;
  padding-bottom: $h3-padding-bottom;
  padding-left: $h-padding-left;
  padding-right: $h-padding-right;
}

// paragraph tag

%p {
  font-family: $p-font-family;
}

p {
  @extend %p;
  font-size: $p-font-size;
  padding-top: $p-padding-top;
  padding-bottom: $p-padding-bottom;
  padding-left: $p-padding-left;
  padding-right: $p-padding-right;
  line-height: $p-line-height;
}
// paragraph styles
.basic {
  font-weight: $medium-weight;
}

.small {
    font-weight: $regular-weight;
    font-family: $h-font-family;
    padding-top: $p-small-padding-top;
    padding-bottom: $p-small-padding-bottom;
}

.accent {
  font-weight: $bold-weight;
  color: $text-accent-color;
}

.italic {
  font-style: italic;
}

// link tag

a {
  font-family: $p-font-family;
  font-size: $a-font-size;
  font-weight: $light-weight;
  text-decoration: none;
  color: $link-light-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $link-dark-color;
  }
}
