@use "../abstracts/variables/media_dimensions" as *;
@use "../abstracts/variables/image" as *;

@media (max-width: $max-width) {
  .container_full_hero.accent-bg.text-center {
    padding-top: 4em;
  }

  .circle-img {
    border-radius: 0;
  }

  .home-title {
    font-size: 2rem;
  }

  .circle-image-portrait,
  .circle-image-landscape {
    width: $circle-width-mobile;
    height: $circle-height-mobile;
  }
}
