// File: _home.scss
// Author: Tomasz Dudkowski
// 2022

@use "../themes/theme" as *;
@use "../abstracts/mixins/image" as *;

#information {
  height: 101vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  color: white;
  font-family: "Montserrat";
}

.container_full_hero.accent-bg.text-center {
  padding-top: 10em;
}

// Background with image
.background-img {
  width: 100%;
}

.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/dist/img/uakaiifdzg8v14myjyg153jpezrkfe3d.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
}


