// File: _column.scss
// Author: Tomasz Dudkowski
// 2022

@use "../abstracts/variables/column_dimensions" as *;
@use "../abstracts/mixins/column" as *;

// Column sizes
.col-1 {
  @include col($col-25);
}

.col-2 {
  @include col($col-50);
}

.col-3 {
  @include col($col-75);
}

.col-4 {
  @include col($col-100);
}



// Extra column padding
.col-padding {
  padding: 1em;
}



// Set content in center with 35% width
.col-center {
    @include col-content($col-35, center);
    margin: 0 auto;

    
}

// Set content in center with 100% width
.col-center-wide {
  @include col-content($col-100, center);
  text-align: center;
  margin: 0 auto;
}
