// File: _container.scss
// Author: Tomasz Dudkowski
// 2022

// Basic container
@mixin container_basic($height) { // $height = *vh
    height: $height;
    margin: 0 auto;
  }

  // 980px container
  .container {
    max-width: 980px;
    width: 95%;
    margin: 0 auto;
  }

  // 980px 100 view height container
  .container_basic {
    @include container_basic(100vh);
    max-width: 980px;
    width: 95%;
  }
  
  // 14vh navigation container
  .container_navigation {
    @include container_basic(10vh);
    width:  100%;
    max-width: 100%;

    // no bg (transparent option)
    z-index: 1; 
    padding-top: 1em;
  }

  // Hero container 100vh
  .container_hero {
    @include container_basic(100vh);
    background-image: url("/dist/img/7rn8ej4ze714s1fo8mw3oycisng1snms.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  
  // Clean Hero container 100vh without background.
  .container_full_hero {
    @include container_basic(100vh);
  }
  
  // Infinity container - (infinity height)
  .container_infinity {
    @include container_basic(auto);
    padding-bottom: 2.5em;
  }