// File: _flex.scss
// Author: Tomasz Dudkowski
// 2022

@mixin flex-direction($direction) { // direction: row / column
    flex-direction: $direction;
}

// Set flex
.flex {
    display: flex;
}

@media (max-width: 800px) {
    .flex {
        flex-direction: column;
    }
}