// File: _navigation.scss
// Author: Tomasz Dudkowski
// 2022

@use "../themes/theme";
@use "../base/typography";

header {
  position: relative;
}



.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.navigation {
  @include navigation();
  padding-left: 3em;
  padding-right: 5em;
  justify-content: space-between;

  a:hover,
  a:focus {
    text-decoration: underline;
    color: typography.$text-light-color;
  }
  
}

.navigation-scrolled {
  background-color: theme.$background-dark-color;
  height: 4vh;
  padding-top: 0;
  transition: 500ms ease-in;

  nav {
    padding-top: .1em;
  }

  nav ul {
    padding-top: .5em;
  }

  h1 {
    font-size: 1.2rem;
    padding-top: 0.4em;
    color: typography.$title-light-color;
  }

  p {
    display: none;
    color: typography.$text-light-color;
  }

  a {
    color: typography.$text-light-color;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    color: typography.$text-light-color;
  }

  box-shadow: 0 3px 20px rgba(black, 0.3);

  
}


