// File: _theme.scss
// Author: Tomasz Dudkowski
// 2022

@use "../abstracts/variables/color" as *;

// Primary background color
.primary-bg {
    background-color: $primary-color;
}

// Accent background color
.accent-bg {
    background-color: $accent-color;
}

// Backgound with image cover
.bg-image {
    background-color: $background-color;
}

.bg-image::before {
    content: "";
    background-image: url("/dist/img/7rn8ej4ze714s1fo8mw3oycisng1snms.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
  }

