// theme variables

$background-color: #ffffff;
$background-dark-color: #2b2b2b8f;
$primary-color: #033747;
$accent-color: #aeb0b152;

.primary-bg {
    background-color: $primary-color;
}

.accent-bg {
    background-color: $accent-color;
}

