// Flex Mixins

@mixin flex-direction($direction) { // direction: row / column
    flex-direction: $direction;
}

// Column Mixins

// Basic column
@mixin col($width) { // $width = *%
    box-sizing: border-box;
    width: $width;
  }
