@use "../../abstracts/variables/media_dimensions" as *;

@media (max-width: $max-width) {
  header {
    position: relative;

    .navigation {
      padding-left: 3em;
      padding-right: 3em;
      justify-content: space-between;
    }

    h1 {
      text-align: center;
      padding-left: 0;
    }

    p {
      font-size: 1rem;
      text-align: center;
    }

    nav {
      padding-top: 0;

      ul {
        text-align: center;

        li {
          margin: 0 auto;
        }
      }
    }
  }

  .navigation-scrolled {
    display: block;

    h1 {
      display: none;
    }

    nav ul {
      padding-top: 0.7em;
    }
  }
}
