@use "../../abstracts/variables/media_dimensions" as *;

@media (max-width: $max-width) {

  h1 {
    display: none;
  }

  nav ul {
    padding-top: 0.7em;
  }
}

@media (max-width: $max-width) {
  header {
    height: 5vh;
    position: relative;
  }
}
