$h-padding-left: 1rem; //.4210em 16px
$h-padding-right: 0em;
$h1-padding-top: .2em;
$h1-padding-bottom: 1em;
$h2-padding-top: .1em;
$h2-padding-bottom: .4em;
$h3-padding-top: .3em;
$h3-padding-bottom: 1em;
$p-padding-top: .5em;
$p-padding-bottom: .8em;
$p-small-padding-top: .5em;
$p-small-padding-bottom: .1em;
$p-padding-left: 1em;
$p-padding-right: 1em;
$a-padding-top: .4em;
$a-padding-bottom: 1em;